<!DOCTYPE html>
<html>
<head>
<title>Contact app</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>        
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>       
        <style>
                body{
                        font-family: 'Raleway',sans-serif;
                    }     

        </style>    
</head>
<body>
        <div class="jumbotron">
           <h1 class="text-center">My Calculator</h1>
        </div>
       
         <div class="row ">
             <div class="col-md-12 panel">
                       <div class="box">
                            <div class="row form-group form-inline">      
                                
                                    <div  method="post" target="_blank">
                                          <input type="text" id="num1" name="firstname" placeholder="First Value" class="form-control"/>
                                          <input type="text" id="num2" name="phnno" placeholder="Second Value" class="form-control"/><br><br>
                                          <input type="button" class="btn btn-default" value="Addition" onclick="add()">
                                          <input type="button" class="btn btn-default" value="Subtraction" onclick="sub()">
                                          <input type="button" class="btn btn-default" value="Division" onclick="div()">
                                          <input type="button" class="btn btn-default" value="Multiply" onclick="mul()"><br><br>
                                         <input type="text" id="result" name="firstname" placeholder="result" class="form-control"/>
                                    </div>
                            </div> 
                       </div>
            </div> 
         </div>      

<script src="/javascripts/index.js" type="text/javascript"></script>

</body>
</html>
